{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "useJSXTextNode": false
  },
  "plugins": ["@typescript-eslint"],
  "extends": [
    "standard",
    "standard-jsx",
    "plugin:react/all",
    "plugin:promise/recommended"
  ],
  "settings": {
    "react": {
      "version": "16.6"
    }
  },
  "rules": {
    "no-console": ["error"],
    "react/jsx-max-props-per-line": ["error", { "when": "multiline" }],
    "react/jsx-one-expression-per-line": 0,
    "react/jsx-no-literals": 0,
    "react/jsx-no-bind": 0,
    "react/prop-types": 0,
    "react/jsx-closing-bracket-location": ["error", "line-aligned"],
    "react/jsx-wrap-multilines": [
      "error",
      {
        "declaration": "parens-new-line",
        "assignment": "parens-new-line",
        "return": "parens-new-line",
        "arrow": "parens-new-line",
        "condition": "parens-new-line",
        "logical": "parens-new-line"
      }
    ],
    "react/jsx-max-depth": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".tsx", ".jsx"] }],
    "react/no-set-state": 0,
    "react/jsx-child-element-spacing": 0,
    "react/forbid-component-props": 0,
    "react/prefer-stateless-function": 0,
    "react/sort-default-prop-types": 0,
    "react/sort-comp": [
      "error",
      {
        "order": [
          "static-methods",
          "instance-variables",
          "lifecycle",
          "getters",
          "setters",
          "/^on.+$/",
          "/^handle.+$/",
          "/^(get|set)(?!(InitialState$|DefaultProps$|ChildContext$)).+$/",
          "instance-methods",
          "everything-else",
          "rendering"
        ],
        "groups": {
          "lifecycle": [
            "displayName",
            "propTypes",
            "contextTypes",
            "childContextTypes",
            "mixins",
            "statics",
            "defaultProps",
            "constructor",
            "getDefaultProps",
            "getInitialState",
            "state",
            "getChildContext",
            "componentWillMount",
            "componentDidMount",
            "componentWillReceiveProps",
            "shouldComponentUpdate",
            "componentWillUpdate",
            "componentDidUpdate",
            "componentWillUnmount"
          ],
          "rendering": ["/^render.+$/", "render"]
        }
      }
    ],
    "react/forbid-prop-types": ["error", { "checkContextTypes": true }],
    "object-curly-spacing": ["error", "always"],
    "newline-after-var": ["error", "always"],
    "import/order": [
      "error",
      {
        "groups": [
          ["builtin", "external"],
          "internal",
          ["parent", "sibling", "index"]
        ],
        "newlines-between": "always"
      }
    ],
    "no-unused-vars": 0,
    "@typescript-eslint/no-unused-vars": "error"
  },
  "env": {
    "jest": true
  },
  "overrides": [
    {
      "files": ["*.example.jsx"],
      "rules": {
        "react/no-multi-comp": "off",
        "react/require-optimization": "off"
      }
    }
  ]
}
