.idea
node_modules
yarn-error.log
build/
.swc
dist/
.nx

.envrc
.DS_Store

# CI needs this to publish lerna
.npmrc

# Happo build output
.happo

# Cypress generated screenshots
cypress/screenshots

coverage
.nyc_output
reports

# Ignore generated credentials from google-github-actions/auth
gha-creds-*.json

# Editor stuff
*~

# TSC incremental build info
**/tsconfig.tsbuildinfo
**/tsconfig.json
tsconfig.json

# Probably secrets
.env
*.env
