name: Danger

on:
  pull_request:
    types: [opened, synchronize, reopened, edited, assigned, unassigned]
    branches: [master]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  danger:
    name: Check
    runs-on: ubuntu-latest
    permissions:
      contents: read
      issues: write
      pull-requests: write
      statuses: write
    if: ${{ github.event.pull_request.head.ref != 'changeset-release/master' }}
    steps:
      - name: Checkout project
        # Same as actions/checkout@v5
        uses: actions/checkout@ff7abcd0c3c05ccf6adc123a8cd1fd4fb30fb493

      - name: Set ENV Variables
        run: |-
          echo "GITHUB_TOKEN=${{ secrets.GITHUB_TOKEN }}" >> $GITHUB_ENV

      - name: Set up Node.js
        # Same as actions/setup-node@v5
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903
        with:
          node-version: 20.18

      - uses: ./.github/actions/yarn-install

      - uses: ./.github/actions/danger
