name: Danger

on:
  pull_request:
    types: [opened, synchronize, reopened, edited, assigned, unassigned]
    branches: [master]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  danger:
    name: Check
    runs-on: ubuntu-latest
    permissions:
      contents: read
      issues: write
      pull-requests: write
      statuses: write
    if: ${{ github.event.pull_request.head.ref != 'changeset-release/master' }}
    steps:
      - name: Checkout project
        # Same as actions/checkout@v5
        uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98

      - name: Set ENV Variables
        run: |-
          echo "GITHUB_TOKEN=${{ secrets.GITHUB_TOKEN }}" >> $GITHUB_ENV

      - name: Set up Node.js
        # Same as actions/setup-node@v6.1
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f
        with:
          node-version: 20.18

      - uses: ./.github/actions/yarn-install

      - uses: ./.github/actions/danger
