name: Integration Tests

on:
  workflow_call:
    secrets:
      TOPTAL_DEVBOT_TOKEN:
        required: true
      NPM_TOKEN:
        required: true
      HAPPO_API_KEY:
        required: true
      HAPPO_API_SECRET:
        required: true

env:
  TOPTAL_DEVBOT_TOKEN: ${{ secrets.TOPTAL_DEVBOT_TOKEN }}
  NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
  HAPPO_PROJECT: Picasso/Cypress
  HAPPO_API_KEY: ${{ secrets.HAPPO_API_KEY }}
  HAPPO_API_SECRET: ${{ secrets.HAPPO_API_SECRET }}
  HAPPO_NONCE: ${{ github.run_id }}

jobs:
  build-packages:
    name: Build packages
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - uses: toptal/davinci-github-actions/yarn-install@v10.0.0

      - name: Build packages
        run: yarn build:package

      - name: Cache built packages
        uses: actions/cache@v3
        with:
          path: 'packages/**/dist-package'
          key: ${{ runner.os }}-pkgs-${{ github.run_id }} }}

  integration-tests:
    name: Run Integration Tests
    runs-on: ubuntu-latest
    needs: [build-packages]
    strategy:
      fail-fast: false
      matrix:
        index: [0, 1, 2]
    env:
      GROUP_INDEX: ${{ matrix.index }}
      PARALLEL_GROUPS: ${{ strategy.job-total }}
    steps:
      - name: Checkout project
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - uses: toptal/davinci-github-actions/yarn-install@v10.0.0

      - name: Get cached packages
        uses: actions/cache@v3
        with:
          path: 'packages/**/dist-package'
          key: ${{ runner.os }}-pkgs-${{ github.run_id }} }}

      - name: Run integration tests
        uses: toptal/davinci-github-actions/integration-tests@v10.0.0

      - name: Upload screenshots
        uses: actions/upload-artifact@v3
        if: failure()
        with:
            name: cypress-screenshots
            path: cypress/screenshots

  finalize-integration-tests:
    name: Finalize Integration Tests
    runs-on: ubuntu-latest
    needs: [integration-tests]
    steps:
      - name: Checkout project
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - uses: toptal/davinci-github-actions/yarn-install@v10.0.0

      - name: Finalize Happo
        run: npx happo-e2e finalize
