name: Integration Tests

on:
  workflow_call:
    secrets:
      HAPPO_API_KEY:
        required: true
      HAPPO_API_SECRET:
        required: true

env:
  HAPPO_PROJECT: Picasso/Cypress
  HAPPO_NONCE: ${{ github.run_id }}

jobs:
  build-packages:
    name: Build packages
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
      actions: write
      issues: write
      pull-requests: write
    steps:
      - name: Checkout
        # Same as actions/checkout@v5
        uses: actions/checkout@ff7abcd0c3c05ccf6adc123a8cd1fd4fb30fb493

      - name: Set up Node.js
        # Same as actions/setup-node@v6.1
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f
        with:
          node-version: 20.18

      - uses: ./.github/actions/yarn-install

      - name: Build packages
        run: yarn build:package

      - name: Cache built packages
        uses: actions/cache@v5
        with:
          path: "packages/**/dist-package"
          key: ${{ runner.os }}-pkgs-${{ github.run_id }} }}

  integration-tests:
    name: Run Integration Tests
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    needs: [build-packages]
    strategy:
      fail-fast: false
      matrix:
        index: [0, 1, 2]
    env:
      GROUP_INDEX: ${{ matrix.index }}
      PARALLEL_GROUPS: ${{ strategy.job-total }}
    steps:
      - name: Checkout project
        # Same as actions/checkout@v5
        uses: actions/checkout@ff7abcd0c3c05ccf6adc123a8cd1fd4fb30fb493

      - name: Set up Node.js
        # Same as actions/setup-node@v6.1
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f
        with:
          node-version: 20.18

      - uses: ./.github/actions/yarn-install

      - name: Get cached packages
        uses: actions/cache@v5
        with:
          path: "packages/**/dist-package"
          key: ${{ runner.os }}-pkgs-${{ github.run_id }} }}

      - name: Run integration tests
        uses: ./.github/actions/integration-tests
        env:
          HAPPO_API_KEY: ${{ secrets.HAPPO_API_KEY }}
          HAPPO_API_SECRET: ${{ secrets.HAPPO_API_SECRET }}

  finalize-integration-tests:
    name: Finalize Integration Tests
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    needs: [integration-tests]
    steps:
      - name: Checkout project
        # Same as actions/checkout@v5
        uses: actions/checkout@ff7abcd0c3c05ccf6adc123a8cd1fd4fb30fb493

      - name: Set up Node.js
        # Same as actions/setup-node@v6.1
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f
        with:
          node-version: 20.18

      - uses: ./.github/actions/yarn-install

      - name: Finalize Happo
        run: npx happo-e2e finalize
        env:
          HAPPO_API_KEY: ${{ secrets.HAPPO_API_KEY }}
          HAPPO_API_SECRET: ${{ secrets.HAPPO_API_SECRET }}
