name: Handle contribution

on:
  pull_request:
    types: [opened, reopened, ready_for_review]
    branches:
      - master

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Setup tmate session
      uses: mxschmitt/action-tmate@v3
      with:
        limit-access-to-actor: true
  call-notify-jira-about-contribution:
    if: ${{ github.event.pull_request.head.ref != 'changeset-release/master' }}
    runs-on: ubuntu-latest
    name: Call notify jira about contribution
    steps:
      - uses: toptal/davinci-github-actions/notify-jira-about-contribution@v4.2.1
        with:
          team: frontend-experience-eng
          repo: ${{ github.event.repository.name }}
          pull-number: ${{ github.event.pull_request.number}}
          jira-hook: ${{ secrets.JIRA_AUTOMATION_HOOK_FOR_NEW_CONTRIBUTION }}
          github-token: ${{ secrets.TOPTAL_DEVBOT_TOKEN }}
