name: Release

on:
  push:
    branches:
      - fx-2161-changesets

env:
  SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
  REPOSITORY_NAME: ${{ github.event.repository.name }}
  TOPTAL_BOT_USERNAME: ${{ secrets.TOPTAL_BOT_USERNAME }}
  TOPTAL_BOT_JENKINS_DEPLOYMENT_TOKEN: ${{ secrets.TOPTAL_BOT_JENKINS_DEPLOYMENT_TOKEN }}
  HTTP_PROXY: http://${{ secrets.HTTP_PROXY }}

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2.3.4
        with:
          # This makes Actions fetch all Git history so that Changesets can generate changelogs with the correct commits
          fetch-depth: 0
          # This forces changesets to use git user, provided by GITHUB_TOKEN env var
          persist-credentials: false

      - name: Setup Node.js 14.x
        uses: actions/setup-node@v2.1.5
        with:
          node-version: 14.x

      - name: Check yarn cache
        uses: c-hive/gha-yarn-cache@v2

      - name: Install Dependencies
        shell: bash
        run: |
          yarn policies set-version
          yarn install --frozen-lockfile --ignore-optional

      - name: Create Release Pull Request or Publish to npm
        id: changesets
        uses: changesets/action@c2918239208f2162b9d27a87f491375c51592434
        with:
          publish: yarn release
        env:
          GITHUB_TOKEN: ${{ secrets.TOPTAL_BUILD_BOT_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN_PUBLISH }}

      - name: Adds labels to PRs
        run: gh pr edit --add-label "no-jira" "$PR_URL"
        env:
          PR_URL: ${{github.event.pull_request.html_url}}
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}} # Not sure if this one is required


      - name: Add peerDependencies warning to "Version Package" PR
        if: ${{ steps.changesets.outputs.published != 'true' }}
        uses: actions/github-script@v5
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          script: |
            // Get list of all open PRs with
            // head branch "changeset-release/master"
            // (there should be max 1 PR with such condition)
            const { data } = await github.rest.pulls.list({
              owner: 'toptal',
              repo: 'picasso',
              state: 'open',
              head: 'toptal:changeset-release/fx-2161-changesets'
            })
            // append PR body with peerDependencies warning
            for await (let pr of data) {
              const hr = "\n_____"
              const warningTodo = "\n- [ ] ⚠️ "
              const message = "If major release, don't forget to check if peerDependencies needs to be also updated"
              const appendedMessage = hr + warningTodo + message
              const body = pr.body.includes('message') ? pr.body : pr.body + appendedMessage
              github.rest.pulls.update({
                owner: 'toptal',
                repo: 'picasso',
                pull_number: pr.number,
                body: body,
              })
            }

      - name: Trigger deployment job
        if: ${{ steps.changesets.outputs.published == 'true' }}
        uses: toptal/jenkins-job-trigger-action@0.0.3-with-proxy
        env:
          JENKINS_JOB_NAME: ${{ env.REPOSITORY_NAME }}-docs
        with:
          jenkins_url: https://jenkins-build.toptal.net/
          jenkins_user: ${{ env.TOPTAL_BOT_USERNAME }}
          jenkins_token: ${{ env.TOPTAL_BOT_JENKINS_DEPLOYMENT_TOKEN }}
          proxy: ${{ env.HTTP_PROXY }}
          job_name: ${{ env.JENKINS_JOB_NAME }}
          job_params: |
            {
              "COMMIT_ID": "${{ github.sha }}"
            }
          job_timeout: '3600'
      # - name: Send a Slack notification on failure
      #   if: ${{ failure() }}
      #   uses: slackapi/slack-github-action@v1.14.0
      #   with:
      #     channel-id: '-frontend-exp-team-notifications'
      #     slack-message: ":x: <!here> Current master version of Picasso is broken."
      #   env:
      #     SLACK_BOT_TOKEN: ${{ env.SLACK_BOT_TOKEN }}
      # - name: Send a Slack notification on success release
      #   if: ${{ success() && steps.changesets.outputs.published == 'true' }}
      #   uses: slackapi/slack-github-action@v1.14.0
      #   with:
      #     channel-id: '-frontend-exp-team-notifications'
      #     slack-message: "Current master version of Picasso successfully released :green_heart:"
      #   env:
      #     SLACK_BOT_TOKEN: ${{ env.SLACK_BOT_TOKEN }}
      # - name: Send a Slack notification on success PR merge
      #   if: ${{ success() && steps.changesets.outputs.published != 'true'}}
      #   uses: slackapi/slack-github-action@v1.14.0
      #   with:
      #     channel-id: '-frontend-exp-team-notifications'
      #     slack-message: "A new PR was merged to Picasso."
      #   env:
      #     SLACK_BOT_TOKEN: ${{ env.SLACK_BOT_TOKEN }}
