name: Release

on:
  push:
    branches:
      - disable-github-actions-for-changesets

env:
  SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
  REPOSITORY_NAME: ${{ github.event.repository.name }}
  TOPTAL_BOT_USERNAME: ${{ secrets.TOPTAL_BOT_USERNAME }}
  TOPTAL_BOT_JENKINS_DEPLOYMENT_TOKEN: ${{ secrets.TOPTAL_BOT_JENKINS_DEPLOYMENT_TOKEN }}
  HTTP_PROXY: http://${{ secrets.HTTP_PROXY }}

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2.3.4
        with:
          # This makes Actions fetch all Git history so that Changesets can generate changelogs with the correct commits
          fetch-depth: 0
          # This forces changesets to use git user, provided by GITHUB_TOKEN env var
          persist-credentials: false

      - name: Setup Node.js 14.x
        uses: actions/setup-node@v2.1.5
        with:
          node-version: 14.x

      - name: Check yarn cache
        uses: c-hive/gha-yarn-cache@v2

      - name: Install Dependencies
        run: |
          yarn policies set-version
          yarn install --frozen-lockfile --ignore-optional

      - name: Create Release Pull Request or Publish to npm
        id: changesets
        uses: changesets/action@c2918239208f2162b9d27a87f491375c51592434
        with:
          publish: yarn release
        env:
          GITHUB_TOKEN: ${{ secrets.TOPTAL_BUILD_BOT_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN_PUBLISH }}

      - name: Add no-jira label to "Version Package" PR
        if: ${{ steps.changesets.outputs.published != 'true' }}
        uses: actions/github-script@v5
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          script: |
            // Get list of all open PRs with
            // head branch "changeset-release/disable-github-actions-for-changesets"
            // (there should be max 1 PR with such condition)
            const { data } = await github.rest.pulls.list({
              owner: 'toptal',
              repo: 'picasso',
              state: 'open',
              head: 'toptal:changeset-release/disable-github-actions-for-changesets'
            })
            // add to all of them label "no-jira"
            for await (let pr of data) {
              github.rest.issues.addLabels({
                owner: 'toptal',
                repo: 'picasso',
                issue_number: pr.number,
                labels: [
                  'no-jira'
                ]
              })
            }
      - name: Edit "Version Pacakge" PR
        if: ${{ steps.changesets.outputs.published != 'true' }}
        uses: actions/github-script@v5
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          script: |
            // Get list of all open PRs with
            // head branch "changeset-release/disable-github-actions-for-changesets"
            // (there should be max 1 PR with such condition)
            const { data } = await github.rest.pulls.list({
              owner: 'toptal',
              repo: 'picasso',
              state: 'open',
              head: 'toptal:changeset-release/disable-github-actions-for-changesets'
            })
            for await (let pr of data) {
              // append PR body with peerDependencies warning
              const hr = "\n_____"
              const warningTodo = "\n- [ ] ⚠️ "
              const message = "If major release, don't forget to check if peerDependencies needs to be also updated"
              const appendedMessage = hr + warningTodo + message
              const body = pr.body.includes(message) ? pr.body : pr.body + appendedMessage

              // append title with [skip ci]
              github.rest.pulls.update({
                owner: 'toptal',
                repo: 'picasso',
                pull_number: pr.number,
                body: body,
                title: pr.title.includes('[skip ci]') ? pr.title : `${pr.title} [skip ci]`,
              })
            }

      - name: Trigger deployment job
        if: ${{ steps.changesets.outputs.published == 'true' }}
        uses: toptal/jenkins-job-trigger-action@0.0.3-with-proxy
        env:
          JENKINS_JOB_NAME: ${{ env.REPOSITORY_NAME }}-docs
        with:
          jenkins_url: https://jenkins-deployment.toptal.net/
          jenkins_user: ${{ env.TOPTAL_BOT_USERNAME }}
          jenkins_token: ${{ env.TOPTAL_BOT_JENKINS_DEPLOYMENT_TOKEN }}
          proxy: ${{ env.HTTP_PROXY }}
          job_name: ${{ env.JENKINS_JOB_NAME }}
          job_params: |
            {
              "COMMIT_ID": "${{ github.sha }}"
            }
          job_timeout: '3600'
      - name: Send a Slack notification on failure
        if: ${{ failure() }}
        uses: slackapi/slack-github-action@v1.14.0
        with:
          channel-id: '-frontend-exp-team-notifications'
          slack-message: ":x: <!here> Current disable-github-actions-for-changesets version of Picasso is broken."
        env:
          SLACK_BOT_TOKEN: ${{ env.SLACK_BOT_TOKEN }}
      - name: Send a Slack notification on success release
        if: ${{ success() && steps.changesets.outputs.published == 'true' }}
        uses: slackapi/slack-github-action@v1.14.0
        with:
          channel-id: '-frontend-exp-team-notifications'
          slack-message: "Current disable-github-actions-for-changesets version of Picasso successfully released :green_heart:"
        env:
          SLACK_BOT_TOKEN: ${{ env.SLACK_BOT_TOKEN }}
      - name: Send a Slack notification on success PR merge
        if: ${{ success() && steps.changesets.outputs.published != 'true'}}
        uses: slackapi/slack-github-action@v1.14.0
        with:
          channel-id: '-frontend-exp-team-notifications'
          slack-message: "A new PR was merged to Picasso."
        env:
          SLACK_BOT_TOKEN: ${{ env.SLACK_BOT_TOKEN }}
