name: Visual Testing

on:
  push:
    branches: [master]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  integration-tests:
    name: Integration Tests
    if: ${{ github.event.pull_request.head.ref != 'changeset-release/master' }}
    uses: ./.github/workflows/davinci-integration-tests.yml
    secrets:
      HAPPO_API_KEY: ${{ secrets.HAPPO_API_KEY }}
      HAPPO_API_SECRET: ${{ secrets.HAPPO_API_SECRET }}
  
  storybook-tests:
    if: ${{ github.event.pull_request.head.ref != 'changeset-release/master' }}
    name: Storybook Tests
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout project
        # Same as actions/checkout@v5
        uses: actions/checkout@ff7abcd0c3c05ccf6adc123a8cd1fd4fb30fb493

      - name: Set up Node.js
        # Same as actions/setup-node@v6.1
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f
        with:
          node-version: 20.18

      - uses: ./.github/actions/yarn-install

      - name: Happo Tests
        run: yarn happo:storybook
        env:
          HAPPO_PROJECT: Picasso/Storybook
          HAPPO_API_KEY: ${{ secrets.HAPPO_API_KEY }}
          HAPPO_API_SECRET: ${{ secrets.HAPPO_API_SECRET }}
