name: Visual Testing

on:
  push:
    branches: [master]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  integration-tests:
    name: Integration Tests
    if: ${{ github.event.pull_request.head.ref != 'changeset-release/master' }}
    uses: ./.github/workflows/davinci-integration-tests.yml
    secrets:
      TOPTAL_DEVBOT_TOKEN: ${{ secrets.TOPTAL_DEVBOT_TOKEN }}
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      HAPPO_API_KEY: ${{ secrets.HAPPO_API_KEY }}
      HAPPO_API_SECRET: ${{ secrets.HAPPO_API_SECRET }}

  storybook-tests:
    if: ${{ github.event.pull_request.head.ref != 'changeset-release/master' }}
    name: Storybook Tests
    runs-on: ubuntu-latest
    env:
      HAPPO_PROJECT: Picasso/Storybook
      HAPPO_API_KEY: ${{ secrets.HAPPO_API_KEY }}
      HAPPO_API_SECRET: ${{ secrets.HAPPO_API_SECRET }}
      TOPTAL_DEVBOT_TOKEN: ${{ secrets.TOPTAL_DEVBOT_TOKEN }}
    steps:
      - name: Checkout project
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - uses: toptal/davinci-github-actions/yarn-install@v11.0.0

      - name: Happo Tests
        run: yarn happo:storybook
